@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

/*<-------------------General Common pages' CSS------------------->*/
body,html{
    width: 100%;
    box-sizing:0;
    margin: 0;
    padding: 0;
    background-image: url(../Images/background.jpg);
    background-size: cover;
    background-attachment: fixed;
}
a{
    text-decoration: none;
}
.logo{
    width: 200px;
}

.logo img{
    margin: 5px 0 0 50px;
    width: 25%;
}

.links{
    margin:0 50px 0 0;
}

.navigation{
    display: flex;
    background-color: #175c69;
    position: fixed;
    top: 0;
    width: 100%;
    font-family: sans-serif;
    justify-content: space-between;
    font-family: "Oswald", sans-serif;
    z-index: 10;
}

nav ul{
    float:right;
    margin-right: 25px;
}
nav a:visited{
    color: #d1b490;
}
nav ul li{
    display: inline-block;
    padding:0px 10px 0px;
    font-weight:bolder;
    font-size: 18px;
    color: #d1b490;
    text-decoration: none;
    list-style: none;
}

.shopping-cart {
    position: relative;
    display: inline-block;    
}
  
.shopping-cart-content {
    display: none;
    position: absolute;
    left: -345%;
    background-color: #f7ebde;
    min-width: 500%;
    min-height: 1000%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 10;
    top: 105%;
   
}
.shopping-cart-content p{
    color: #1f7a8c;
}
.shopping-cart-dropdowncontent{
    display: flex;
    justify-content: space-between;
    padding-left: 80px;
}

.shopping-cart:hover .shopping-cart-content{
    display: block;
}

.shopping-cart-content a:hover{
    color: #022b3a;
    transition: .5s;
}

.checkout{
    position: absolute;
    top: 75%;
    left: 35%;
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 50px;
    background: #175c69;
    font-weight: 600;
    margin: 10px 0;
    box-shadow: 0 6px #0f424d;
}

.checkout a:hover{
    color: #fff;
    transition: .5s;
}
.description{
    margin: 0 0 20px 50px;
    padding: 0;
}

.contact{
    margin: 0 50px 0 0;
}

.description, .info, .service, .contact{
    margin-top: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;    
}
  
.dropdown-content {
    display: none;
    position: absolute;
    left: -345%;
    background-color: #f7ebde;
    min-width: 900%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 10;
    top: 105%;
    color: #1f7a8c;    
}

.dropdowncontent{
    display: flex;
    justify-content: space-between;
    padding-left: 80px;
}

.dropdown-content a, .dropdown a:visited {
    padding: 8px;
    text-decoration: none;
    color: #1f7a8c;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown-content a:hover{
    color: #022b3a;
    transition: .5s;
}

.footer{
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}

footer{
    box-sizing: border-box;
    background-color: #022b3a;
    color: #f7ebde;
    font-family: sans-serif;
    width: 100%;
    position:absolute;
}
.description{
    width: 400px;
}

footer p{
    font-weight: 300;
    font-size: 14px;
    line-height: 1.6;
    text-align: left;
}

footer h4{
    text-align: left;
    margin: 15px 0 2px 5px;
}

footer ul li{
    display: inline-block;
    padding:0px 10px 0px;
    font-weight: 500;
    font-size: 16px;
    color: #f7ebde;
    text-decoration: none;
    list-style: none;
    text-align: left;
}

footer span{
    padding: 5px 0 5px 0;
}

.fab {
    color:black;
}
footer .fab{
    padding:5px 5px 0 5px;
    font-size: 30px;
    color: #f7ebde;
}
footer a, a:visited{
    color:#f7ebde
}
/*<-------------------Home Page CSS------------------->*/
.body{
    display:flex;
    margin: 5% 0 0 0;
    justify-content: center;
    min-height: 100vh;
}
.main{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
}

.main h2{
    font-family: "Oswald", sans-serif;
    color: #d1b490;
    text-align: center;
    font-size: 40px;
}
.computer p, .mobile-tablet p, .accessories p{
    text-decoration: underline;
    text-align: center;
    font-size: 20px;
}
.computer p{
    position: absolute;
    top: 70%;
    left: 30%;
    font-family: "Oswald", sans-serif;
    color: #d1b490;

}
.computer_description, .accessories_description{
    position: relative;
    right: 20%;
    width: 70%;
    text-decoration: none;
    text-align: left;
}
.computer_description p, .accessories_description p, .mobile_description p{
    text-align: left;
    text-decoration: none;
}
.mobile_description{
    position: relative;
    right: 90%;
    width: 185%;
    text-decoration: none;
    text-align: left; 
}
.mobile-tablet p{
    position: absolute;
    top: 140%;
    left: 70%;
    font-family: "Oswald", sans-serif;
    color: #d1b490;

}
.accessories p{
    position: absolute;
    top: 210%;
    left: 30%;
    font-family: "Oswald", sans-serif;
    color: #d1b490;
}
.computer, .mobile-tablet, .accessories{
    overflow: hidden;
    width: 98%;
    margin: 2%;
}
.computer img{
    width:35%;
    padding-top: 5%;
    position: relative;
    left: 55%;
}
.mobile-tablet img{
    position: relative;
    left: 6%;
    width: 26%;
}
.accessories img{
    position: relative;
    left: 70%;
    width: 13%;
    padding: 5% 0 5% 0;
}


/*<-------------------Register and Staff Log in Pages CSS------------------->*/
.container{
    position: relative;
    width: 70vw;
    height: 80vh;
    margin: 2%;
    background-color: #f7ebde;
    border-radius: 15px;
    box-shadow: 6px 8px 16px 0px rgba(0,0,0,0.2), 6px 8px 16px 0px rgba(0,0,0,0.2);
    overflow:hidden;
}

.container::before{
    content:"";
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, #be5236, #883019);
    z-index: 6;
    transform: translateX(100%);
    transition: 1s ease-in-out;
}

.signin-signup{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 5;
}

.staff-login-form{
    position: absolute;
    right: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
}

form.sign-in-form{
    opacity: 1;
    position: relative;
    transition: 0.5s ease-in-out;
    transition-delay: 1s;
    top: -10%;
}

form.sign-up-form{
    opacity: 0;
    position: relative;
    transition: 0.5s ease-in-out;
    transition-delay: 1s;
    top: -2%;
}

.title{
    font-family: "Oswald", sans-serif;
    color: #022b3a;
    font-size: 40px;
    font-weight: bolder;
}

.input-field{
    width: 100%;
    height: 50px;
    background: #f0f0f0;
    margin: 10px 0;
    border: 2px solid #f7ebde;
    border-radius: 50px;
    display: flex;
    align-items: center;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.input-field input{
    flex:5;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    color: #444;
}

.container .fas{
    font-weight: 900;
    margin: 24px;
}

.btn{
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background: #be5236;
    color: #fff;
    font-weight: 600;
    margin: 10px 0;
    text-transform: uppercase;
    box-shadow: 0 6px #4e1709;
}
.btn a, .btn a:visited{
    color: #fff;
}
button:active {
    box-shadow: 0 4px #883019;
    transform: translateY(4px);
}

.btn-register{
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background: #f7ebde;
    color: #022b3a;
    font-weight: 600;
    margin: 10px 0;
    text-transform: uppercase;
    box-shadow: 0 6px #4e1709;
}

.btn-register:hover{
    background: #f1d2b0;
}

.content p{
    font-family: "Oswald", sans-serif;
    font-weight: 550;
    font-size: 18px;
    color:#f1d2b0;
}
.panels-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 35%;
    padding: 0 10px;
    text-align: center;
    z-index: 6;
}
.left-panel{
    pointer-events: none;
}
.content{
    color:#022b3a;
    transition: 1.1s ease-in-out;
    transition-delay: 0.5s;
}

.panel h3{
    font-family: "Oswald", sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #f1d2b0;
}


.image{
    width: 60%;
    margin: 11% 0 0px 60%;
    transition: 1.1s ease-in-out;
    transition-delay: 0.4s;
}

.employee_image{
    position: absolute;
    width: 30%;
    z-index: 9;
    right: 3%;
    top: 60%;
}

.staff_description{
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: #f1d2b0;
    text-align: center;
    position: absolute;
    width: 30%;
    z-index: 9;
    right: 10%;
    top: 18%;
}

.left-panel .image, .left-panel .content{
    transform: translateX(-220%);
}

.right-panel .image, .right-panel .content{
    transform: translateX(0);
}

/* Animation */
.container.register-mode::before{
    transform: translateX(0)
}

.container.register-mode .right-panel .image, 
.container.register-mode .right-panel .content{
    transform: translateX(220%);
}

.container.register-mode .left-panel .image, 
.container.register-mode .left-panel .content{
    transform: translateX(0);
}

.container.register-mode form.sign-in-form{
    opacity: 0;
}
.container.register-mode form.sign-up-form{
    opacity: 1;
}

.container.register-mode .right-panel{
    pointer-events: none;
}
.container.register-mode .left-panel{
    pointer-events: all;
}

/*<-------------------About Us Page CSS------------------->*/
.backdrop{
    right: -7%;
    position: relative;
    width: 70vw;
    height: 80vh;
    margin: 9% 6% 6% 6%;
    background-color: #b33819c2;
    border-radius: 15px;
    overflow: hidden;
    font-family: "Oswald", sans-serif;
    text-align: center;
    color: #f7ebde;
}

.text{
    width: 82%;
    position: relative;
    left: 9%;
    top: 3%;
}

/*<-------------------Shopping Page CSS------------------->*/

.slider-container{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1% 0 4% 0;
}

.box{
    position: relative;
    right: 20%;
    width: 325px;
    height:380px;
    background-color: #f7ebde;
    border-radius: 10px;
    box-shadow: 2px 10px 12px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 20px 10px;
}

.model{
    height: 165px;
    margin: 5%;
    padding-top: 10%;
}

.add-to-cart{
    position: relative;
    top: -10%;
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 15px;
    background: hsl(0deg 74% 43%);
    font-weight: 600;
    margin: 20px 0;
    box-shadow: 0 4px hsl(0deg 78% 27%);
    color: #022b3a;
}

.details{
    position: relative;
    top: -5%;
    justify-content: center;
    text-align: center;
    font-family: "Oswald", sans-serif;
    width: 75%;
}

/*styling the search bar */
.search-wrapper {
    position: relative;
    right: 25px;
    border-radius: 30px;
    height: 45px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}
.search-wrapper .fas{
    color:black;
}
.search-wrapper span{
    padding: 5px 24px;
    border-radius: 30px;
    background-color: #fff;
}
.search-wrapper input{
    height: 100%;
    padding: .5rem;
    border: none;
    outline: none;
}

/* styling the dropdown user sign-in/sign-out option */
.user-status {
    position: relative;
    display: inline-block;
}

.user-status-content {
    display: none;
    position: absolute;
    width: 65px;
    left: -26px;
    background-color: #f7ebde;
    color: #175c69;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 10;
    top: 105%;

}

.user-status-content a{
    color: #175c69 !important;
}

.user-status-content a:hover{
    color: #022b3a !important;
}

.user-status-dropdowncontent{
    display: flex;
    justify-content: center;
}

.user-status:hover .user-status-content{
    display: block;
}

.user-status-content a:hover{
    color: #022b3a;
    transition: .5s;
}

